<h3>Add Story</h3>
<div class="row">
    <form action="/stories" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select name="status" id="status">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    <option value="unpublished">Unpublished</option>
                </select>
                <label for="status"></label>
            </div>
        </div>
    </form>
</div>



